<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>EJS</title>
    <%- include('partials/head')%>
</head>
<body>
    <%- include('partials/header')%>
    <h1>HOLA POMPAS EJS</h1><br>
    <h2><%= saludo2 %></h2>
    <%- include('partials/footer')%>

</body>
</html>